/* cuprum-regular - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-italic - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprum-v11-cyrillic_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-700 - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprum-v11-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header menu */

.main-header {
  background-color: #f3f7f9;
}

.header-top {
  width: auto;
  background-color: #293449;
  font-size: 17px;
  line-height: calc(18 / 17);
  min-height: 42px;
}

.header-top-wrapper {
  display: flex;
  align-items: center;
  padding: 0 calc(50% - 470px);
  background-color: #293449;
}

.logo {
  display: block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.search-form {
  width: 270px;
}

.user-order-menu {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.menu-buy {
  background-color: #63a63e;
}

.order-menu-item {
  display: block;
  padding: 10px 15px;
}

.order-menu-item a:hover,
.order-menu-item a:focus {
  background-color: #212a3a;
}

.menu-bookmark {
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}

.menu-buy a:hover,
.menu-buy a:focus {
  background-color: #5fbb2d;
}

.order-menu-item a:active {
  background-color: #161d29;
}

.menu-buy a:active {
  background-color: #518534;
}

.header-contacts-wrapper {
  display: flex;
  align-items: center;
  padding: 0 calc(50% - 470px);
  background-color: #f3f7f8;
}

.header-text {
  display: block;
  width: 196px;
  min-height: 60px;
  font-size: 16px;
  font-style: italic;
  line-height: calc(23 / 16);
  color: #ee3643;
  margin-left: 53px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 270px;

}

.header-phone {
  font-size: 21px;
  font-weight: 400;
  line-height: calc(21 / 21);
  color: #ee3643;
  border: 3px solid #ffffff;
  min-height: 45px;
  text-align: center;
}

.header-address {
  color: #32425c;
  line-height: calc(24 / 14);
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.user-login {
  display: block;
  background-color: #ffffff;
  font-size: 21px;
  line-height: calc(21 / 21);
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #c5c5c5;
}

.user-name {
  font-size: 21px;
  line-height: calc(21 / 21);
  color: #000000;
}

.user-profile {
  font-size: 16px;
  color: #32425c;
  line-height: calc(18 / 16);
  text-decoration: underline;
}

.user-name a:active {
  opacity: 0.3;
  color: #000000;
}

.user-profile a:hover,
.user-profile a:focus {
  color: #ee3643;
}

.user-profile a:active {
  opacity: 0.3;
  color: #32425c;
}

.main-nav {
  display: block;
  width: 940px;
  margin: auto;
  background-color: #32425c;
  font-size: 17px;
  line-height: calc(17 / 17);
  min-height: 60px;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 940px;
  min-height: 60px;
  list-style: none;
}

.main-nav-link:hover,
.main-nav-link:focus {
  background-color: #293449;
}

.main-nav-link:active {
  background-color: #1d2739;
}

.main-nav-list a:active {
  color: #c5c5c5;
}

/* store items */

.store a:hover,
.store a:focus {
  background-color: #000000;
  opacity: 0.2;
  color: #ffffff;
}

.store a:active {
  background-color: #000000;
  opacity: 0.3;
  color: #ffffff;
}

.store-items {
  color: #ffffff;
  font-size: 24px;
  line-height: calc(30 / 24);
}

.store-link {
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

.materials {
  width: 300px;
  background-color: #ffbf47;
}

.tools {
  width: 300px;
  background-color: #3bbce3;
}

.technics {
  width: 300px;
  background-color: #dc91d8;
}

.store-offers {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(30 / 24);
}

.discount {
  width: 300px;
  background-color: #8ed78f;
}

.delivery {
  width: 300px;
  background-color: #ffc047;
}

.slide-link {
  background-color: #ee3643;
  text-transform: uppercase;
}

.slide-link:hover,
.slide-link:focus {
  background-color: #ca2c37;
}

.slide-link:active {
  background-color: #ba2732;
}

/* popular */


.popular-title {
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
}

.all-popular {
  width: 253px;
  background-color: #ee3643;
  color: #ffffff;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

.popular:hover,
.popular:focus {
  background-color: #ca2c37;
}

.popular:active {
  background-color: #ba2732;
}

ul.popular-list {
  list-style: none;
}

.popular-list li {
  display: inline-block;
}

.card {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: calc(20 / 18);
  color: #000000;
}

.old-price {
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: calc(18 / 17);
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  width: 141px;
  background-color: #ee3643;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: calc(18 / 17);
  text-transform: uppercase;
}

.buy {
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.bookmark {
  color: #32425c;
  font-size: 14px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

.bookmark:hover,
.bookmark:focus {
  color: #32425c;
  border: 3px solid #32425c;
}

.bookmark:active {
  color: #32425c;
  opacity: 0.3;
  border: 3px solid #32425c;
  opacity: 0.3;

}

/* brands */

.brand-title {
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
  color: color: #32425c;
}

.all-brands {
  width: 253px;
  background-color: #ee3643;
  color: #ffffff;
  line-height: calc(18 / 38);
  text-transform: uppercase;
}

ul.brand-list {
  list-style: none;
}

.brand-list li {
  display: inline-block;
}

/* about */

.about-title {
  color: #000000;
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
}

.about p {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;

}

.shipping-company {
  font-size: 18px;
  line-height: calc(20 / 18);
}

.company-details {
  width: 220px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18 / 38);
  text-transform: uppercase;
}

.company:hover,
.company:focus {
  background-color: #ca2c37;
}

.company:active {
  background-color: #ba2732;
}

.contacts-title {
  color: #000000;
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
}

.contacts p {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.contact-us {
  width: 300px;
  background-color: #ee3643;
  color: #ffffff;
  line-height: calc(18 / 38);
  text-transform: uppercase;
}

/* catalog */

.catalog-name {
  color: #32425c;
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
}

/* breadcrumbs */

.breadcrumb-catalog {
  display: flex;
  list-style: none;
  font-family: "PT Sans";
  color: #000000;
  font-size: 13px;
  line-height: calc(18 / 13);
  text-transform: uppercase;
}

/* sorting */

.sorting-list {
  display: flex;
  list-style: none;
}

.sorting-item {
  color: #000000;
  opacity: 0.3;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: calc(18 / 13);
  text-transform: uppercase;
}

.sorting-name {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: calc(18 / 13);
  font-weight: 400;
  text-transform: uppercase;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #000000;
}

.sorting-item a:active {
  color: #ee3643;
}



/* filters */

.filter-name {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: calc(30 / 17);
  text-transform: uppercase;
}

.filter-input-brand {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: calc(20 / 15);
  text-transform: uppercase;
}

.filter-button {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: calc(18 / 13);
  text-transform: uppercase;
}

/* pagination */

.pagination-item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: calc(18 / 13);
  text-transform: uppercase;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: calc(18 / 13);
}

/* footer */

.main-footer {
  background-color: #32425c;
  color: #ffffff;
  font-size: 18px;
  line-height: calc(24 / 18);
}

.footer-logo {
  background-color: #ee3643;
}

.footer-navigation li {
  display: inline-block;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: #f1f5f7;
  opacity: 0.5;
}

.footer-deals {
  color: #ffd180;
}

.footer-social {
  background-color: #293449;
  font-size: 16px;
}

.social-icon li {
  display: inline-block;
}

.social-vk,
.social-fb,
.social-inst {
  background-color: #212a3a;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #ee3643;
}

.feedback-mail,
.feedback-link {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus {
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
