/* cuprum-regular - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum-v11-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-italic - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprum-v11-cyrillic_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cuprum-700 - cyrillic_latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprum-v11-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/cuprum-v11-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}

.main-header {
  background-color: #f3f7f9;
}

.header-top {
  background-color: #293449;
  font-size: 17px;
  line-height: calc(18 / 17);
}

.header-logo {
  background-color: #ee3643;
}

.main-nav {
  background-color: #32425c;
  font-size: 17px;
  line-height: calc(17 / 17);
}

.store-items {
  color: #ffffff;
  font-size: 24px;
  line-height: calc(30 / 24);
}

.store-link {
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

.materials {
  width: 300px;
  background-color: #ffbf47;
}

.tools {
  width: 300px;
  background-color: #3bbce3;
}

.technics {
  width: 300px;
  background-color: #dc91d8;
}

.store-offers {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(30 / 24);
}

.discount {
  width: 300px;
  background-color: #8ed78f;
}

.delivery {
  width: 300px;
  background-color: #ffc047;
}

.popular-title {
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
}

.all-popular {
  width: 253px;
  background-color: #ee3643;
  color: #ffffff;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

ul.popular-list {
  list-style: none;
}

.popular-list li {
  display: inline-block;
}

.card {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: calc(20 / 18);
}

.old-price {
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: calc(18 / 17);
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  width: 141px;
  background-color: #ee3643;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: calc(18 / 17);
  text-transform: uppercase;
}

.brand-title {
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
  color: color: #32425c;
}

.all-brands {
  width: 253px;
  background-color: #ee3643;
  color: #ffffff;
  line-height: calc(18 / 38);
  text-transform: uppercase;
}

ul.brand-list {
  list-style: none;
}

.brand-list li {
  display: inline-block;
}

.about-title {
  color: #000000;
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
}

.about p {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;

}

.shipping-company {
  font-size: 18px;
  line-height: calc(20 / 18);
}

.company-details {
  width: 220px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18 / 38);
  text-transform: uppercase;
}

.contacts-title {
  color: #000000;
  font-size: 30px;
  line-height: calc(30 / 30);
  text-transform: uppercase;
}

.contacts p {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.contact-us {
  width: 300px;
  background-color: #ee3643;
  color: #ffffff;
  line-height: calc(18 / 38);
  text-transform: uppercase;
}

.main-footer {
  background-color: #32425c;
  color: #ffffff;
  font-size: 18px;
  line-height: calc(24 / 18);
}

.footer-logo {
  background-color: #ee3643;
}

.footer-navigation li {
  display: inline-block;
}

.footer-deals {
  color: #ffd180;
}

.footer-social {
  background-color: #293449;
  font-size: 16px;
}

.social-icon li {
  display: inline-block;
}

.social-vk,
.social-fb,
.social-inst {
  background-color: #212a3a;
}

.feedback-mail,
.feedback-link {
  color: #ffd180;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
